Repository SciCatProject/scitacean: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock, nbstripout, format-md

uv-lock:
  name: lock dependencies
  entry: just lock
  language: system
  pass_filenames: false

nbstripout:
  name: strip notebook outputs
  entry: just strip-output
  language: system
  require_serial: true

format-md:
  name: format markdown
  entry: just format-md
  language: system

More precise orcid errors
  src/scitacean/_base_model.py
  src/scitacean/_internal/orcid.py
  src/scitacean/testing/strategies.py
Due: none

Make call_endpoint public
  src/scitacean/client.py
Due: none

Add support for getting instruments
  src/scitacean/client.py
  src/scitacean/testing/client.py
Due: none

Setting python version for uv setup action.
  .github/workflows/test.yml
Due: none

Disable call_endpoint on fake
  src/scitacean/testing/client.py
Due: none

Use ubuntu-24.04 for deployment
  .github/workflows/release.yml
Due: none

Use pre-commit to manage linters
  .pre-commit-config.yaml
  docs/developer/getting-started.rst
  justfile
  pyproject.toml
  uv.lock
Due: uv-lock

Runn fmt and lint on all files
  justfile
Due: none

Build using `uv build`
  justfile
  pyproject.toml
  uv.lock
Due: uv-lock

Add more docs to justfile
  justfile
Due: none

Update dependencies
  justfile
  uv.lock
Due: uv-lock

Explain tool version handling
  docs/developer/dependency-management.rst
  docs/developer/getting-started.rst
Due: none

Ignore pydantic identifier in typos
  pyproject.toml
Due: uv-lock

Change fake image string to bypass spellcheck
  tests/thumbnail_test.py
Due: none

Update name to bypass spellcheck
  pyproject.toml
  tests/client/attachment_client_test.py
  tests/client/proposal_client_test.py
  tests/client/sample_client_test.py
  tests/upload_test.py
Due: uv-lock

Update pre-commit hooks
  .pre-commit-config.yaml
  src/scitacean/client.py
  src/scitacean/testing/backend/seed.py
  src/scitacean/testing/strategies.py
  tools/model-generation/spec/__init__.py
Due: none

Fix typos
  docs/developer/dependency-management.rst
Due: none

Use admonition
  docs/developer/dependency-management.rst
Due: none

Limit sphinx version to avoid unecessary deprecation
  pyproject.toml
  uv.lock
Due: uv-lock

Use different names for link references
  docs/developer/getting-started.rst
Due: none

Update pre-commit to use prek for local checks
  docs/developer/getting-started.rst
Due: none

Use correct url.
  docs/developer/getting-started.rst
Due: none

Allow shorter source folders
  src/scitacean/transfer/copy.py
Due: none

Update dependencies
  .pre-commit-config.yaml
  uv.lock
Due: uv-lock

Update dependencies and remove unused
  pyproject.toml
  uv.lock
Due: uv-lock

Add plugin scaffolding
  src/scitacean/plugins/__init__.py
  src/scitacean/plugins/_common.py
  src/scitacean/plugins/file_metadata.py
Due: none

Set a cooldown for dependabot
  .github/dependabot.yml
Due: none

Switch to backend v5.1.1 for tests
  src/scitacean/testing/backend/docker-compose-backend-template.yaml
Due: none

Remove model generator
  justfile
  pyproject.toml
  src/scitacean/model.py
  tools/model-generation/README.md
  tools/model-generation/generate_models.py
  tools/model-generation/spec/__init__.py
  tools/model-generation/spec/dataset-fields.yml
  tools/model-generation/spec/field-name-overrides.yml
  tools/model-generation/spec/field-type-overrides.yml
  tools/model-generation/spec/field-validations.yml
  tools/model-generation/spec/schema.py
  tools/model-generation/templates/__init__.py
  tools/model-generation/templates/dataset_fields.py.jinja
  tools/model-generation/templates/model.py.jinja
Due: uv-lock, format-md

Remove Field.description
  src/scitacean/_dataset_fields.py
  src/scitacean/_html_repr/_dataset_html.py
Due: none

Update dataset field descriptions
  src/scitacean/_dataset_fields.py
Due: none

Unify derived and raw datasets
  docs/reference/index.rst
  docs/user-guide/testing.ipynb
  docs/user-guide/uploading.ipynb
  src/scitacean/__init__.py
  src/scitacean/_base_model.py
  src/scitacean/_dataset_fields.py
  src/scitacean/_html_repr/_dataset_html.py
  src/scitacean/client.py
  src/scitacean/dataset.py
  src/scitacean/model.py
  src/scitacean/testing/backend/seed.py
  src/scitacean/testing/client.py
  src/scitacean/testing/docs.py
  src/scitacean/testing/strategies.py
  tests/client/attachment_client_test.py
  tests/client/datablock_client_test.py
  tests/client/dataset_client_test.py
  tests/dataset_fields_test.py
  tests/dataset_test.py
  tests/download_test.py
  tests/html_repr/html_repr_test.py
  tests/model_test.py
  tests/testing/strategies_test.py
  tests/transfer/copy_test.py
  tests/transfer/link_test.py
  tests/transfer/sftp_test.py
  tests/upload_test.py
Due: nbstripout

Use single endpoint for datasets
  src/scitacean/client.py
  src/scitacean/datablock.py
  src/scitacean/dataset.py
  src/scitacean/model.py
  src/scitacean/testing/backend/seed.py
  src/scitacean/testing/client.py
  tests/client/dataset_client_test.py
  tests/dataset_fields_test.py
  tests/dataset_test.py
  tests/download_test.py
Due: none

Remove model override tests
  tests/model_test.py
Due: none

Make owner required
  src/scitacean/model.py
Due: none

Start moving attachments to v4
  src/scitacean/client.py
  src/scitacean/dataset.py
  src/scitacean/model.py
  src/scitacean/testing/backend/seed.py
  src/scitacean/testing/client.py
  tests/dataset_test.py
  tests/download_test.py
  tests/model_test.py
Due: none

More API v4
  src/scitacean/client.py
  src/scitacean/dataset.py
  src/scitacean/model.py
  src/scitacean/testing/backend/fixtures.py
  src/scitacean/testing/backend/seed.py
  src/scitacean/testing/client.py
  tests/client/attachment_client_test.py
  tests/client/client_test.py
  tests/client/datablock_client_test.py
  tests/dataset_fields_test.py
  tests/dataset_test.py
  tests/upload_test.py
Due: none

Path conditions:
  uv-lock: any of: ^(uv\.lock|pyproject\.toml|uv\.toml)$
  nbstripout: any of: \.ipynb$
  format-md: any of: \.(md|markdown|mdown)$
